<div class='container'>
  <h1 class='centered'>Step one: Let's get your personal account set up</h1>
  <progress class="progress progress-success" value="33" max="100" style= width:100%></progress>
  <%= render 'form' %>
</div>
