<div class='container'>
  <h1 class='centered'><%= image_tag @user.company.logo.url(:medium) %></h1>


  <% if current_user?(@user) %>
    <%= link_to("Edit your personal account settings", edit_user_path) %><br>
    <%= link_to("Edit #{@user.company.name} account settings", edit_user_company_path(@user, @user.company.id)) %><br>
    <%= link_to("Permanently delete your personal account", user_path, method: :delete, data: { confirm: "Are you absolutely sure you'd like to delete your personal account? This action is permanent. Please click 'OK' to confirm or 'Cancel' to go back."}) %>
  <% end %>
</div>
