<div class='container'>
  <h1 class='centered'>Step two: Add your company information below</h1>
  <progress class="progress progress-success" value="66" max="100" style= width:100%></progress>
  <p class='lead'><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style= color:red></span> Heads up: If your company already has a profile, you don't need to create a new one. Simply reach out to us and we'll link the personal account you just created to your company profile. Otherwise, go ahead and create your company profile below.</p>
  <%= render 'form' %>
</div>
