<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Find and list jobs for remote development work</h1>
    <p class="lead">Looking to post that first job? <%= link_to('Create your free company profile today', '#')%></p>
  </div>
</div>
